@font-face{
  font-family: 'Carista';
  src: url("Assets/Carista.ttf") format('opentype');}

@font-face{
  font-family: 'CenturyGothic'; src: url(../Fonts/CenturyGothic.ttf) format('truetype');}



  body{
    font-size: 1.5rem;
  }
  .welcomeCard, .brownPanel, .whitePanel, .whiteHeader, .card, button {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }

  .card, button {
    background: #f2f2f2;
    border: 0;
    border-radius: 2px;
    color: black;
  }

  .brownPanel, .whitePanel, .whiteHeader {
    background-color: #f2f2f2;
    padding: 3rem;
  }

  .textCenter {
    text-align: center;
  }

  .vCenter {
    margin: 25% 0;
  }

  .fa-file-download {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 576px) {
    iframe {
      width: 100%;
    }
  }
  @font-face {
    font-family: "Archer";
    src: url("Assets/Fonts/Archer-Semibold.otf") format("opentype");
  }
  @font-face {
    font-family: "CenturyGothic";
    src: url("Assets/Fonts/Century-Gothic.otf") format("opentype");
  }
  @font-face {
    font-family: "MyriadPro";
    src: url("Assets/Fonts/Myriad-Pro-Regular.ttf") format("opentype");
  }
  h1 {
    font-family: "Carista";
  }

  h2, h3, h4, h5, h6 {
    font-family: "CenturyGothic";
    color: var(--olym-red);
  }

  .display-1 {
    font-size: 5rem;
  }

  .display-5 {
    font-size: 1.5rem;
  }

  p, a {
    font-family: "Times New Roman";
  }

  a:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 576px) {
    .display-1, h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }
  }
  #masthead {
    width: 100%;
  }

  button {
    box-shadow: none;
    padding: 1rem 4rem;
    border: 3px solid #f2f2f2;
    transition: background-color 100ms;
  }
  button:hover {
    background-color: #f2f2f2;
    color: var(--olym-blue);
  }

  .whiteHeader {
    max-width: 50%;
    margin-bottom: 3rem;
    min-width: 350px;
  }
  .whiteHeader::after {
    content: "";
    position: absolute;
    border-bottom: 0.5rem solid var(--olym-red);
    width: 15rem;
    bottom: 4rem;
    left: 3rem;
  }

  .whitePanel--deadline {
    margin: 1rem;
    width: auto;
    position: relative;
  }
  .whitePanel--deadline::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "ï•³";
    padding: 15px;
    color: var(--olym-red);
    font-size: 3rem;
    position: absolute;
    right: 5%;
    top: 30%;
  }

  .brownPanel {
    border-style: solid;
    border-color: #78676C;
    border-width: 50px 8px 8px;
    border-radius: 3px;
  }
  .brownPanel::before {
    content: "";
    border-bottom: 10px solid white;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: -15%;
    left: 1.25em;
    right: 1.25em;
  }

  .brownPanel--downloads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .brownPanel--downloads::before {
    top: 1rem;
    width: 35%;
  }

  @media screen and (max-width: 995px) {
    .brownPanel--downloads {
      margin-top: 5%;
    }
  }
  @media screen and (max-width: 576px) {
    .whiteHeader {
      min-width: 100%;
    }

    .whitePanel {
      padding: 1.5rem;
      width: 100%;
      margin: 0;
    }
    .whitePanel--deadline {
      margin-bottom: 1rem;
    }
    .whitePanel--deadline::after {
      position: relative;
    }

    .brownPanel {
      padding: 1.5rem;
    }
    .brownPanel::before {
      top: -12%;
    }

    .brownPanel--downloads {
      margin-top: 5%;
    }
  }
  .brownPanel__item {
    flex: 1;
    margin: 1rem;
  }

  .brownPanel__item > button {
    background-color: var(--olym-red);
    color: #f2f2f2;
    width: 100%;
    height: 100%;
  }

  .card {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .card__img {
    border-radius: 50%;
    max-width: 50%;
  }

  #clockdiv {
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #clockdiv > div {
    flex: 1;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    color: black;
    font-family: "CenturyGothic";
  }

  #clockdiv div > span {
    color: white;
    padding: 15px;
    border-radius: 3px;
    background: #A84545;
    display: inline-block;
    width: 100%;
  }

  .smalltext {
    padding-top: 5px;
    font-size: 16px;
  }

  @media screen and (max-width: 576px) {
    #clockdiv {
      font-size: 1.5rem;
    }
  }
  #landing {
    background-color: var(--olym-blue);
  }

  #btnSouth {
    margin-left: 5px;
  }

  .container--landing {
    height: 100vh;
    padding-top: 2.5%;
  }

  .card--landing {
    margin: 0;
    text-align: left;
  }

  .footer{
    background-image: url("Assets/white_stripes.png");
  }

  .footer--landing {
    position: absolute;
    bottom: 0;
    /*z-index: -1;*/
  }

  .vCenter--landing {
    margin-top: 5%;
  }

  .brownPanel--slideshow {
    padding: 0.8rem;
  }

  .welcomeCard {
    padding: 25px;
    transition: transform 100ms;
  }
  .welcomeCard:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 995px) {
    #landingBtnHolder {
      margin-top: 1rem;
    }
  }
  @media screen and (max-width: 576px) {
    #landingHero {
      margin: 0;
      padding: 2rem;
    }

    .container--landing {
      position: relative;
      height: auto;
    }

    .footer--landing {
      bottom: auto;
    }

    a[href="north.html"], a[href="south.html"] {
      width: 100%;
      margin: 0.5rem;
    }

    a[href="north.html"] > button, a[href="south.html"] > button {
      width: 100%;
    }

    .card--landing {
      margin: 0.5rem;
    }

    #btnSouth {
      margin-left: 0;
    }
  }
  #north {
    background-color: var(--olym-blue);
  }

  #south {
    background-color: var(--olym-blue);
  }

  .header {
    padding-left: 0;
    position: relative;
  }

  .container--main {
    height: 100vh;
    padding-top: 12%;
  }
  .container--desc, .container--docs, .container--deadlines, .container--committee .container--schedule{
    margin-bottom: 10%;
  }
  .container--deadlines {
    padding: 0;
  }



  @media screen and (max-width: 576px) {
    .container {
      margin: 4%;
      padding: 0;
    }
    .container--main {
      height: auto;
    }

    .col-md-8 {
      padding: 0;
    }

    #downloads {
      margin: 0;
    }

    .display-5 > button {
      width: 95%;
      margin-top: 0.5rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .container--main {
      height: auto;
    }
  }

  /*# sourceMappingURL=main.css.map */

  /* BEGIN TABLE CSS */
  *{
    box-sizing:border-box;
  }

  /*Mustard: #FFD941
  Coral: #F47A55
  Rosewood: 691010
  Rose Vale: A84545
  Silver Chalice ABABAB
  Old Lavender 78676C
  Amaranth Pink EB98B1
  Sap Green 5F7E3A
  Dark olive green 4E6A15
  Colombia Blue C8E6F0 */

  body{
    background-color: #C8E6F0;
  }

  .light{
    background-color: #fff;
  }

  .calendar{
    width:100%;
    box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
    font-family: 'CenturyGothic';
    padding: 20px 30px;
    color:#363b41;
    display: inline-block;
  }
  .calendar_events{
    color:$light_grey;
  }
  .ce_title{
    font-size:14px;
  }

  .event_item{
    margin: 18px 0;
    padding:5px;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
      box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
      .ei_Dot{
        background-color: #fff;
      }
      .ei_Copy,.ei_Title{
        color:#fff;
      }
    }
  }

  .event_item:hover{
    background-color: #bfdeff;
    .ei_Copy,.ei_Title{
      color: white;
    }
  }

  .ei_Dot,.ei_Title{
    display:inline-block;
  }

  .ei_Dot{
    border-radius:50%;
    width:10px;
    height: 10px;
    background-color: var(--olym-blue);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  }

  .ei_Title{
    font-size:1.6rem;
    margin-left:10px;
    color:#363b41;
    font-style: italic;
  }

  .ei_Copy{
    font-size:1.8rem;
    margin-left:27px;
  }
